@media (max-width: 990px) {
    .component-budget .search-par {
        text-align: center;
    }
}
/******************************************/
@media (max-width:1440px) {
    .label-for-minmax {
        width: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }

    .min, .max {
        width: 50%;
    }

    .container-fluid {
        max-width: 1130px;
    }

    .items-grid .item-main {
        margin: 15px;
    }

    .photo-area img,
    .photo-area .img-area {
        height: 100%;
    }

    .search-line-component .icon-budget {
        width: 40px;
    }

    .component-budget .search-par {
        width: calc(50% - 40px);
    }

    .rtl .icon-budget {
        background-position: 0px -80px;
        color: rgba(0,0,0,0);
    }

    .video360-feature {
        min-height: 260px;
    }
}

@media (max-width:1140px) {

    .float-form {
        margin: -76px 0 0 0px;
    }

    .commercial {
        height: 550px;
    }

    .list-part li {
        -webkit-flex-basis: 33%;
        flex-basis: 33%;
        min-width: 33%;
    }

    .video-area:after,
    .video-area:before {
        left: 7px;
    }

    .rtl .video-area:after,
    .rtl .video-area:before {
        left: auto;
        right: 7px;
    }

    .b-img {
        width: 40%;
    }

    .b-title {
        font-size: 1.5em;
    }

    .red-list li,
    .b-item .text {
        font-size: 1.1em;
    }

    .main-review .review-text {
        font-size: 1.6em;
    }

    .author-photo img {
        width: 90%;
    }

    .main-review .review-text p:after,
    .main-review .review-text p:before {
        width: 50px;
    }

    .review .review-text p {
        font-size: 1.3em;
    }

    .slider-block .subtitle {
        font-size: 1.9em;
    }

    .slider-block .red-list li {
        font-size: 1.3em;
    }

    .contact-form-area .subtitle-standard {
        font-size: 1.6em;
    }

    .featured-title {
        font-size: 2em;
        line-height: 6.4em;
    }

    .featured-descr {
        font-size: 1.5em;
    }
}

@media (max-width:990px) {

    .rtl .other-pages .header-row > div {
        margin-top: 20px;
    }

    .rtl .other-pages .header-row > div {
        margin-top: 0;
    }

    .rtl .other-pages .search-input {
        padding-top: 0;
    }

        .rtl .other-pages .search-input + div {
            padding-bottom: 20px;
            height: 100%;
        }


    /****** Header-rtl Other pages ******/

    .rtl .header-row {
        position: relative;
    }

    .rtl .other-pages .header-row > nav,
    .rtl .other-pages .header-row > nav + div {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    .rtl .other-pages .header-row > nav {
        bottom: 0;
    }

        .rtl .other-pages .header-row > nav + div {
            bottom: 63px;
        }

        /***************************/

    /***************** Other pages / Listing ***********************/

    .other-pages .header-row {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        height: initial;
    }

        .other-pages .header-row > div:first-child {
            text-align: center;
        }

        .other-pages .header-row > div.search-input {
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #eae8e8;
        }

        .other-pages .header-row > div {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
        }

        .other-pages .header-row > nav {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .other-pages .header-row > div,
        .other-pages .header-row > nav {
            margin: 0;
        }

    /***************** Footer ***********************/

    .footer-nav {
        margin-bottom: 10px;
        text-align: center;
    }

        .footer-nav ul li {
            margin: 0 20px 20px 0;
        }

    .item-photo-prev {
        height: calc(100vh - 395px);
    }

    header.home.individual-page {
        background: url(../img/individual-background.jpg) center right / cover no-repeat;
    }
}

@media (min-width: 900px) {

    .filters-title-area {
        display: none;
    }
}

@media (max-width:1440px) {
    .review .review-text {
        min-height: 225px;
    }
}

@media (max-width:900px) {

    .rtl .home .header-row {
        height: 105px;
    }

        .rtl .home .header-row > nav {
            position: absolute;
            bottom: 0;
        }

    .rtl .home.other-pages .header-row {
        height: 190px;
    }

    .header-row > div,
    .header-row > nav {
        width: 100%;
    }

    .header-row > div {
        text-align: center;
        margin-bottom: 20px;
    }

    .header-row {
        margin-top: 20px;
    }

    .commercial {
        height: 430px;
    }

    /***************** Featured carousel ***********************/

    #featured-carousel {
        display: none;
    }

    #featured-carousel-mobile {
        display: block;
    }

    .tablet-carousel {
        display: block;
    }

    .desktop-carousel {
        display: none;
    }

    .featured .title-standard {
        margin-top: 50px;
    }

    /***************** Listing ***********************/

    .filters {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-content: space-between;
        -webkit-align-content: space-between;
    }

    .filters-row {
        height: 290px;
    }

    .filters-content {
        flex-basis: 50%;
        -webkit-flex-basis: 50%;
        /* for IE */
        max-width: 50%;
    }

        .filters-content.component-neighbourhood {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
            /* for IE */
            max-width: 100%;
        }

    .filters-button-area {
        flex-basis: 50%;
        -webkit-flex-basis: 50%;
    }

    .filters-title-area {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        height: 50px;
        padding: 0;
        border-bottom: 1px solid #80a026;
        text-align: center;
        /* for IE */
        max-width: 100%;
    }

    .rtl .filters-title-area {
        margin-top: -290px;
    }

    .rtl .filters-button-area,
    .rtl .filters-button-area + .filters-content {
        margin-top: 50px;
    }

    .filters-title {
        margin-top: 10px;
    }

    .min, .max {
        max-width: 100%;
    }

    .filter-properties-area {
        width: 100%;
    }

    .info-row .info-alert {
        display: flex;
        display: -webkit-flex;
        height: 78px;
        margin-top: 15px;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-content: space-between;
        -webkit-align-content: space-between;
    }

    .alert-part,
    .sorting-by {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
    }

    .sorting-by {
        max-width: 100%;
        padding-bottom: 10px;
        display: block;
    }

    .alert-title {
        font: 1.5em Calibri Regular, sans-serif;
        font-weight: normal;
        line-height: 1.6em;
        max-width: calc(100% - 250px);
        display: inline-block;
    }

    .ru .alert-title {
        font: 1.5em Calibri Regular, sans-serif;
        font-weight: normal;
        line-height: 1.6em;
        max-width: calc(100% - 260px);
        display: inline-block;
    }

    .drop-down-hover-list {
        height: 53px;
    }

    .more-filters .filters-properties,
    .more-filters .search-advanced {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        /* for IE */
        max-width: 100%;
    }

        .more-filters .filters-properties .drop-down-hover-list:last-child {
            margin-bottom: 30px;
        }

    /***************** Listing ***********************/

    .items-grid .item-main {
        flex-basis: 40%;
        -webkit-flex-basis: 40%;
        min-width: 262px;
        max-width: 48.3%;
    }

        .items-grid .item-main:nth-child(2n+1) {
            margin-left: 0;
            margin-right: 15px;
        }

        .items-grid .item-main:nth-child(2n) {
            margin-right: 0;
            margin-left: 15px;
        }

    /***************** Footer ***********************/

    .breadcrumbs-area {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-content: space-between;
        -webkit-align-content: space-between;
    }

        .breadcrumbs-area .breadcrumb,
        .breadcrumbs-area .small-nav {
            padding: 18px 0 11px;
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
            text-align: left;
        }

        .breadcrumbs-area .small-nav {
            padding-top: 0;
        }

    .rtl .breadcrumbs-area .breadcrumb,
    .rtl .breadcrumbs-area .small-nav {
        padding: 18px 0 11px;
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        text-align: left;
    }

    .rtl .breadcrumbs-area .breadcrumb {
        padding-top: 0;
    }

    .small-nav {
        min-width: 100%;
    }

    /***************** Advert ***********************/

    .seller-photo {
        width: 100%;
    }

    .float-form {
        position: absolute;
    }

    .affix {
        top: 0;
    }

    /***************** Filters ***********************/

    .filters-row {
        overflow: hidden;
    }

    .more-filters.filters-row {
        overflow: visible;
    }

    .filters-hide {
        height: 50px;
    }

    .filters-title {
        position: relative;
    }

        .filters-title .ga-icon-triangle-down {
            position: absolute;
            font-size: 1.5em;
            right: 14px;
            top: 0px;
        }

    .video360-f-descr {
        font-size: 1.2em;
    }
}

@media (min-width: 767px) and (max-width: 900px) {

    /***************** Home ***********************/

    header.home {
        height: 808px;
    }

        header.home.home-register {
            height: 460px;
        }

    header.other-pages {
        height: auto;
    }

    .home .title {
        font: 3em Arial, sans-serif;
        font-weight: bold;
    }

    .search-row {
        height: 170px;
    }

    .search-line {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-content: space-between;
        -webkit-align-content: space-between;
        height: 90px;
        margin-bottom: 10px;
    }

    .search-line-component,
    .rtl .search-line-component,
    .rtl .search-line-component:first-child,
    .rtl .search-line-component:last-child {
        flex-basis: 50%;
        -webkit-flex-basis: 50%;
        /* for IE */
        max-width: 50%;
    }

    .rtl .component-apartment {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .rtl .component-budget {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        /* for IE */
        max-width: none;
    }

    .rtl .icon-budget {
        padding-right: 40px;
        color: inherit;
    }

    .component-budget {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        /* for IE */
        max-width: none;
    }

    .component-apartment {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .home .btn-search {
        margin-left: 0;
    }


    .component-budget .search-par {
        width: calc(50% - 45px);
    }

    .search-line-component:last-child {
        flex: 2;
        -webkit-flex: 2;
    }

    .header-content {
        height: 478px;
    }

    .titles-group {
        bottom: 10px;
    }

    .map-img {
        height: 390px;
    }

    .main-aside .learn-more {
        text-align: right;
        margin-top: 27px;
    }

    .commercial .subtitle {
        font: 1.6em Corbel Regular, sans-serif;
        font-weight: normal;
    }

    .properties-list li {
        font: 1.2em Corbel Regular, sans-serif;
        font-weight: normal;
    }

    .review .review-text {
        min-height: 275px;
    }

    /***************** Advert ***********************/

    .float-form {
        margin: -76px 0 0 -22px;
    }

    .rtl .float-form {
        margin: -76px 0 0 -2px;
    }

    .item-ecology {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }

        .item-ecology .ecology-part {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
        }

            .item-ecology .ecology-part:first-child {
                padding-right: 0;
            }

            .item-ecology .ecology-part:last-child {
                padding-left: 0;
            }

    .list-part li {
        -webkit-flex-basis: 49.7%;
        flex-basis: 49.7%;
        min-width: 49.7%;
    }
}

@media (max-height: 855px) {

    .float-form {
        position: absolute;
    }

    .affix {
        top: 0;
    }
}

@media (max-width: 767px) {

    /***************** Home ***********************/

    header.home {
        height: 810px;
    }

    header.other-pages {
        height: auto;
    }

    .home .title {
        font: 3em Arial, sans-serif;
        font-weight: bold;
    }

    .search-row {
        height: 200px;
    }

    .search-line {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-content: space-between;
        -webkit-align-content: space-between;
        height: 90px;
        margin-bottom: 10px;
    }

    .search-line-component,
    .rtl .search-line-component,
    .rtl .search-line-component:first-child,
    .rtl .search-line-component:last-child {
        flex-basis: 50%;
        -webkit-flex-basis: 50%;
        /* for IE */
        max-width: 50%;
    }

    .rtl .component-apartment {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .rtl .component-budget {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        /* for IE */
        max-width: none;
    }

    .rtl .icon-budget {
        padding-right: 40px;
        color: inherit;
    }

    .rtl .home .btn-search {
        margin-bottom: 10px;
    }

    .rtl .join-us {
        display: none;
    }

    .component-budget {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        /* for IE */
        max-width: none;
    }

    .component-apartment {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .home .btn-search {
        margin-left: 0;
    }

    .component-budget .search-par {
        width: calc(50% - 45px);
    }

    .search-line-component:last-child {
        flex: 2;
        -webkit-flex: 2;
    }

    .header-content {
        height: 448px;
    }

    .titles-group {
        bottom: 10px;
    }

    .map-img {
        height: 360px;
    }

    .main-aside .learn-more {
        text-align: right;
        margin-top: 27px;
    }

    header.home.home-register {
        height: 460px;
    }

    .review .review-text {
        min-height: unset;
    }

    /***************** Property ***********************/

    .prop-tab {
        height: 79px;
    }

    .property {
        background: #f6f7f6;
        padding: 40px 0 40px 0;
    }

        .property .subtitle {
            margin: 0 0 40px 0;
        }

        .property img {
            margin-bottom: 30px;
        }

        .property .text-left {
            text-align: center;
            margin-bottom: 20px;
        }

    .prop-tabs-content .tab-pane .col-xs-12:first-child {
        text-align: center;
        margin-bottom: 20px;
    }

    .prop-tabs-content .text {
        padding-left: 0;
    }

    .carousel-inner > .active.left {
        left: 30%;
    }

    /***************** Commercial ***********************/

    .commercial {
        height: 720px;
    }

    .skew {
        height: 720px;
        transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
        margin-left: 0;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }

    .right-skew, .left-skew {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
    }

    .left-skew {
        border-right: none;
        border-bottom: 2px solid #f6f7f6;
    }

    .right-skew {
        border-left: none;
    }

    .right-skew, .left-skew {
        height: 360px;
    }

        .left-skew .bg, .right-skew .bg {
            transform: skewX(0deg);
            -webkit-transform: skewX(0deg);
        }

        .left-skew .bg {
            left: 0;
        }

        .right-skew .bg {
            right: 0;
        }

    .commercial .row > div {
        height: 50%;
    }

    .commercial .subtitle {
        font: 1.6em Corbel Regular, sans-serif;
    }

    /***************** Properties list ***********************/

    .more-properties {
        padding: 20px 0;
    }

    .properties-list {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-content: space-between;
        -webkit-align-content: space-between;
    }

        .properties-list li {
            flex-basis: 33%;
            -webkit-flex-basis: 33%;
            font: 1.1em Corbel Regular, sans-serif;
        }

            .properties-list li:first-child {
                text-align: center;
            }

            .properties-list li:last-child {
                text-align: center;
                border-right: none;
            }

            .properties-list li:nth-child(3) {
                border-right: none;
            }

    /***************** Advert ***********************/

    .item-photo-prev {
        min-height: 290px;
        height: 290px;
    }

    .float-form {
        position: absolute;
        top: 120px;
        left: 50%;
        margin-left: -157px;
    }

    .rtl .float-form {
        top: 360px;
    }

    .item-content {
        padding: 730px 0 0 0;
    }

    .item-info {
        padding-top: 75px;
    }

    .seller-info {
        position: absolute;
        top: -75px;
        left: 0;
        text-align: center;
        z-index: 5;
    }

    .seller-photo {
        width: auto;
        border: 2px solid #fff;
        border-radius: 100%;
        overflow: hidden;
        background: #fff;
    }

    .carousel {
        width: calc(100% - 50px);
        margin: 0 auto;
    }

    #photos-carousel .carousel-control.left {
        left: -40px;
    }

    #photos-carousel .carousel-control.right {
        right: -40px;
    }

    .item-content .title-standard,
    .similar .title-standard {
        margin: 35px 0 20px 0;
    }

    .blueimp-gallery > .indicator > li {
        width: 60px;
        height: 40px;
    }

    /******************** Advert + Video *************/

    .item-video-prev {
        height: auto;
        max-height: none;
        padding-bottom: 60px;
    }

    .video-area {
        height: 380px;
    }

    .video-descr {
        margin-left: 0;
    }

        .video-descr:before {
            display: none;
        }

    .rtl .video-screen {
        padding-top: 380px;
    }

    .rtl .video-area {
        position: absolute;
        top: 0;
        left: 0;
    }

    .rtl .video-descr {
        margin-right: 0;
    }

        .rtl .video-descr:before {
            display: none;
        }

    /***************** Footer ***********************/

    .footer-divider {
        margin-top: 30px;
    }

    .join-us {
        display: none;
    }

    footer.other-footer div.powered,
    footer.other-footer div.text-right,
    .rtl footer.other-footer div.text-left {
        text-align: center;
    }

    footer.other-footer div.powered {
        padding-top: 4px;
    }

    .list-part li {
        -webkit-flex-basis: 49.7%;
        flex-basis: 49.7%;
        min-width: 49.7%;
    }


    /***************** New Pages ***********************/

    .author-photo {
        text-align: center;
    }

        .author-photo img {
            max-width: 260px;
        }

    .review {
        margin-bottom: 30px;
    }


    .tv .title-standard,
    .testimonial .title-standard,
    .slider-block .title-standard,
    .contact-form-area .title-standard,
    .steps .title-standard,
    .video360 .title-standard,
    .contact-area-360 .title-standard {
        font-size: 2.2em;
    }

    .steps .subtitle-standard {
        font-size: 1.5em;
    }

    .xs-delete {
        display: none;
    }

    .step figcaption {
        font-size: 1.3em;
        margin-bottom: 40px;
    }

    .price {
        padding: 20px 10px;
    }

    .featured-title {
        width: 160px;
        height: 160px;
        font-size: 1.7em;
    }

    .featured-descr {
        font-size: 1.3em;
    }
}

@media (max-width: 606px) {
    header.home.home-register {
        height: 500px;
    }
}

@media (max-width: 600px) {

    .rtl .map-img {
        width: 100%;
    }

    .items-grid .grid {
        justify-content: center;
        -webkit-justify-content: center;
    }

    .items-grid .item-main {
        flex-basis: 40%;
        -webkit-flex-basis: 40%;
        min-width: 290px;
        max-width: 70%;
    }

        .items-grid .item-main:nth-child(2n),
        .items-grid .item-main:nth-child(2n+1) {
            margin-right: 0;
            margin-left: 0;
        }

    .contact-form-area .form-area {
        padding: 60px 40px 40px 40px;
    }

    .price {
        width: 220px;
    }

    .price-value {
        font-size: 6em;
    }
}

.btn-continue {
    background: #84a824;
    color: #fff;
    font: 1.3em Calibri Bold, sans-serif;
    font-weight: bold;
    height: 40px;
}

.btn-new {
    background: #c60a19;
    color: #fff;
    font: 1.3em Calibri Bold, sans-serif;
    font-weight: bold;
    height: 40px;
}

a[data-toggle="modal"] {
    cursor: pointer;
}

.other-pages .header-row > div.AdvertNavigationBar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content : center
}
.other-pages .header-row > div > div.previousAdvert, .other-pages .header-row > div >div.nextAdvert, .other-pages .header-row > div > div.backToSearch {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
    padding-top: 0;
    -webkit-align-self: center;
    align-self: center;
    color: #86aa22;
    min-width: 70px;
    text-align: center;
    font-size: 2em;
}

    .other-pages .header-row > div > div.previousAdvert:hover, .other-pages .header-row > div > div.nextAdvert:hover, .other-pages .header-row > div > div.backToSearch:hover {
        opacity: 0.8;
        cursor: pointer;
    }

@media (max-width: 990px) {
    .other-pages .header-row > div > div.previousAdvert, .other-pages .header-row > div > div.nextAdvert, .other-pages .header-row > div > div.backToSearch {
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        text-align: center;
    }
}
