@media screen and (max-width: 1820px) {
	.row {
	    width: 80%; 
	}
	.col-sm-4, .col-md-4, .col-lg-4 {
    	width: 30%;
	}
}
@media screen and (max-width: 1400px) {
	.row {
	    width: 95%; 
	}
}
@media screen and (max-width: 1180px) {
	.green-label, .green-label-for-select {
	    font-size: 14px;
	}
}
@media screen and (max-width: 1120px) {
	.row {
	    width: 50%; 
	}
	.col-xs-12, .col-sm-4 {
		width: 100%;
	}
	.green-label, .green-label-for-select {
	    font-size: 18px;
	}
	.form-control {
		width: 95%;
	}
}
@media screen and (max-width: 805px) {
	.row {
	    width: 70%; 
	}
}
@media screen and (max-width: 580px) {
	.row {
	    width: 95%; 
	}
	.col-xs-12 {
		width: 95%;
		margin: 7px;
	}
}
@media screen and (max-width: 455px) {
	.container-fluid {
    	padding-right: 5px;
    	padding-left: 5px;
   	}
   	.row {
	    width: 100%; 
	}
	body, .pack-options li, .simple-label {
		font-size: 16px;
	}
	.sprite-_CA722D21074D35221DC564C19FA8A737BD27D0F6368E8B7349_pimgpsh_fullsize_distr {
		margin-left: 5px;
	}		
}
@media screen and (max-width: 415px) {
	.pack-desc form {
		height: 460px;
	}
}
@media screen and (max-width: 320px) {
	.pack-desc form {
		height: 510px;
	}
}
