/* Here you can create a generic class 
   If you want override the theme go in \Custom-theme\css
   If you want put your own css to customize go in \Custom\css\custom.css
*/

/* Width, margin, padding */
.margin-0 {
    margin: 0;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-30-minus {
    margin-bottom: -30px;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.width-5 {
    width: 5% !important;
}

.width-7-5 {
    width: 7.5% !important;
}

.width-8 {
    width: 8% !important;
}

.width-9 {
    width: 9% !important;
}

.width-10 {
    width: 10% !important;
}

.width-15 {
    width: 15% !important;
}

.width-20 {
    width: 20% !important;
}

.width-30 {
    width: 30% !important;
}

@media (min-width: 1200px) {
    .col-lg-0-5 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 6.5%;
    }

    .col-lg-1-5 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 13%;
    }

    .col-lg-2-5 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 20%;
    }
}

.no-resize {
    resize: none;
}

/* Align */
.vertical-align-middle {
    vertical-align: middle !important;
}
.vertical-align-top {
    vertical-align: top !important;
}
.vertical-align-bottom {
    vertical-align: bottom !important;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center !important;
}
.text-align-left {
    text-align: left !important;
}

/* Font */
.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold !important;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-none, 
.text-decoration-none:link {
    text-decoration: none;
}

.font-green-ga {
    color: #84a824;
}
.font-blue-ga {
    color: #337ab7 !important;
}
.font-black {
    color: #000;
}

.font-white {
    color: white;
}
.font-white:hover {
    color: whitesmoke;
}

.background-color-yellow {
    background-color: yellow;
}

.background-color-red {
    background-color: red;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

/* Button */
.btn.green {
    color: #FFFFFF;
    background-color: #84a824;
}
.btn.bronze {
    color: #fff;
    background-color: #d0a382;
    border-color: #d0a382;
}
.btn.silver {
    color: #fff;
    background-color: #a3abb1;
    border-color: #a3abb1;
}
.btn.gold {
    color: #fff;
    background-color: #e2b53d;
    border-color: #e2b53d;
}
.btn.platinum {
    color: #fff;
    background-color: #c8c6c1;
    border-color: #c8c6c1;
}

.roundedBox {
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}
/*Table*/
.background-row-selected {
    background-color: #C8FFBE !important;
}

/***
Fontawesome Icons
***/
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    font-size: 14px;
    *margin-right: .3em;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    color: red;
}

[class^="icon-check"],
[class*=" icon-check"] {
    display: inline-block;
    font-size: 14px;
    *margin-right: .3em;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    color: #71B919;
}

[class^="fa-"]:not(.fa-stack) {
    display: inline-block;
    font-size: 14px;
    *margin-right: .3em;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    color: green;
}

.fa-1-5x {
    font-size: 1.5em !important;
}

.fa-width-equals-1 {
    width: 12px !important;
}

/* Cursor */
.cursor-move {
    cursor: move;
}

.cursor-nodrop {
    cursor: no-drop !important;
}

.cursor-pointeur {
    cursor: pointer;
}

.cursor-notallowed {
    cursor: not-allowed;
}

/* Display */
.display-none {
    display: none;
}

/* Input */
.input-smaller {
    width: 120px !important;
}

/* Border */
.border-black {
    border: solid 1px black;
}

.border-left {
    border-left: solid 1px black;
}

.border-top {
    border-top: solid 1px black;
}

.border-bottom {
    border-bottom: solid 1px black;
}

.border-right {
    border-right: solid 1px black;
}

.border-right-0 {
    border-right: 0 !important;
}

/* GradientBox */
.redGradientBox {
    background: -webkit-linear-gradient(270deg,#E15A6B, #9a0b1a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #E15A6B, #9a0b1a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #E15A6B, #9a0b1a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #E15A6B, #9a0b1a);
    background-color: #9a0b1a;
    color: #fff;
    border-radius: 8px 8px 8px 8px;
}

.blueGradientBox {
    background: -webkit-linear-gradient(270deg, #7aafd9, #006fb4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #7aafd9, #006fb4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #7aafd9, #006fb4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #7aafd9, #006fb4);
    background-color: #006fb4;
    color: #fff;
    border-radius: 8px 8px 8px 8px;
}

.greenGradientBox {
    background: -webkit-linear-gradient(180deg, #BDD158, #9CBA0C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #BDD158, #9CBA0C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #BDD158, #9CBA0C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #BDD158, #9CBA0C);
    background-color: #9CBA0C;
    border-radius: 8px 8px 8px 8px;
}

.bronzeGradientBox {
    background: -webkit-linear-gradient(270deg, white, rgb(226, 198, 177)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(170deg, white, rgb(226, 198, 177)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(170deg, white, rgb(226, 198, 177)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(170deg, white 20%, rgb(226, 198, 177) 80%, rgb(208, 163, 130));
    background-color: rgb(226, 198, 177);
    border: 1px solid rgb(208, 163, 130);
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 8px 8px 8px 8px;
}

.silverGradientBox {
    background: -webkit-linear-gradient(270deg, white, rgb(198, 203, 207)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(170deg, white, rgb(198, 203, 207)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(170deg, white, rgb(198, 203, 207)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(170deg, white 20%, rgb(198, 203, 207) 80%, rgb(163, 171, 177));
    background-color: rgb(198, 203, 207);
    border: 1px solid rgb(163, 171, 177);
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 8px 8px 8px 8px;
}

.goldGradientBox {
    background: -webkit-linear-gradient(270deg, white, rgb(235, 217, 154)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(170deg, white, rgb(235, 217, 154)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(170deg, white, rgb(235, 217, 154)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(170deg, white 20%, rgb(235, 217, 154) 80%, rgb(226, 181, 61) );
    background-color: rgb(235, 217, 154);
    border: 1px solid rgb(226, 181, 61);
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 8px 8px 8px 8px;
}

.platinumGradientBox {
    background: -webkit-linear-gradient(270deg, white, rgb(232, 231, 229)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(170deg, white, rgb(232, 231, 229)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(170deg, white, rgb(232, 231, 229)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(170deg, white 20%, rgb(232, 231, 229) 70%, rgb(200, 198, 193));
    background-color: rgb(232, 231, 229);
    border: 1px solid rgb(200, 198, 193);
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 8px 8px 8px 8px;
}

.greyGradientBox {
    background: -webkit-linear-gradient(270deg, white, #f0f1f3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(170deg, white, #f0f1f3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(170deg, white, #f0f1f3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(170deg, white 10%, #f0f1f3 80%, #cbd4db);
    background-color: #f0f1f3;
    border: 1px solid #cacfd5;
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 8px 8px 8px 8px;
}

.bg-white {
    background-color: #fff;
}

.form-control.input-xxsmall {
    width: 53px !important;
}

.note-sm {
    margin: 0;
    padding: 7px;
}

.list-style-type-decimal {
    list-style-type: decimal;
}

.position-fixed {
    position: fixed !important;
}

.float-none {
    float: none !important;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.line-left {
    left: 0;
}

.line-right {
    right: 0;
}
.clearBoth {
    clear: both;
}

.overflow-auto {
    overflow: auto;
}

.label-disabled {
    color: #ccc;
    cursor: not-allowed;
}

.link-disabled {
    pointer-events: none;
}

.font-bronze {
    color: #d0a382;
}
.font-silver {
    color: #a3abb1;
}
.font-gold {
    color: #e2b53d;
}
.font-platinum {
    color: #c8c6c1;
}
.bg-bronze {
    background-color: #d0a382;
}
.bg-silver {
    background-color: #a3abb1;
}
.bg-gold {
    background-color: #e2b53d;
}
.bg-platinum {
    background-color: #c8c6c1;
}

/* FLEX */
.flex-container-vertical-center {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.white-space-nowrap {
    white-space: nowrap;
}

.no-wrap {
    white-space: nowrap;
}